.header 
{ color: aqua;
    border: 1px solid  red ;
    height: 110px;
    text-align: center;
    
}

body 
{ background-color: black;
    color:white;
    text-align: right;
}

p1 
{ font-size: 25px;
    font-family: Times New Roman", Times, serif;
    line-height: 2;
    text-align: right;
    direction: rtl;
    
}
h1 {text-align: center}

  .article {
      width: 65%;
      margin: 5%;
          
          
  }
 img 
{ width: 100%;
    height: 400px;
}

